.card{
    background-color: #EEEEEE;
    width: 90%;
    border-radius: 50px;
    position:relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.card img{
    max-width: 100%;
    object-fit: fill;
    display: block;
    border-radius: 2rem;

}

.card div p{
    width: 100%;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card div h2{
    width: 100%;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature-understanding{
    display: flex;
    flex-direction: column;
}

.feature-card{
    background-color: #862c2c;
    width: 100%;
    border-radius: 30px;
    padding: 3rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    text-align: justify;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.feature-card h1{
    margin-bottom: 5px;
}
.feature-card h2{
    margin: 0;
    color: #ff8c8c;
    font-weight: bold;
    font-style: 'Agrandir Bold';
}
.feature-card p{
    color: #eee;
    font-size: 18px;
    margin-bottom: 25px;
}

.plot-text li{
    margin-left: 0 40px;
}

.mean-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* Optional spacing between items */
  justify-content: center;
}

.mean-item {
  flex: 1 1 45%; /* Two items side-by-side when space allows */
  min-width: 300px; /* Forces wrapping if screen too small */
  max-width: 600px; /* Optional for layout consistency */

  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: justify;

  background-color: #eeeeee;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 20px;
}
.mean-item .p_black {
    color: #1D1616;
}

.mean-item h2{
    text-align: left;
}

.feature-card .label{
    font-size: 12px;
    color: gray;
    text-align: center;
}

.plot-text .plot-class{
    font-size: 18px;
    font-weight: bold;
    color: #eee;
    margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
  padding: 20px 0;
  max-width: 100%;
}

.grid-item {
  background-color: #eeeeee;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  width: 100%;
}

.grid-item img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  border-radius: 10px; /* optional for rounded corners */
  object-fit: cover;   /* or `contain` depending on effect you want */
}

.feature-card .plot-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plot-card{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 20px 50px 30px;
}

.plot-card img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 2rem;

}

.plot-card iframe{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    border-radius: 2rem;
}

.plots-container {
  display: flex;
  gap: 20px;
  margin: 25px 0;
  width: 100%;
}

.plots-items{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin: 0 10px;
}

.plots-items img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    border-radius: 2rem;;
}

.grouped_p{
    margin-bottom: 25px;
}
.grouped_p p{
    margin: 5px 0;
}

.grouped_p ol{
    padding-left: 40px;
}

table{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.collapsible-divider{
    border: 1px solid red;

}

.rq-header-button{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

.rq-notebook{
    display: inline-block;
    margin-right: 10px; 

    font-size: 12px;
    color: #862c2c;
    background-color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.rq-notebook:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.framework-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;

}

.framework-container img{
    display: flex;
    flex-grow: 1;
    height: 200px;
}

.arrowhead{
    position: relative;
    transition: 0.15s;
    margin-left: -10px;
}

.arrowhead:first-child{
    margin-left: 0;
}

.arrowhead:hover{
    transform: scale(1.25);
}

.arrowhead p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -50%);
    color: #862c2c;
    font-size: 15px;
    width: 90%;
    text-align: center;
}

.collapsible-card{
    padding: 2.5rem;
    border-radius: 1.5rem; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background-color: #862c2c;

    text-align: left;
    margin: 15px;
}

.collapsible-card ul, .collapsible-card ol{
    margin: 0 40px;
}

 .tabcontent ol{
    margin: 0 30px;
 }

.tabcontent ul{
    margin: 5px 40px 0; 
}

.list-container{
    margin-bottom: 30px;
}

.tabcontent li{
    padding: 0 0 5px 5px;
}

.list-container ul, .list-container ol{
    margin: 0 40px;
}

.card-2{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    padding: 2.5rem;
    border-radius: 20px;
    margin-top: 50px;
}