html{
  scroll-behavior: smooth;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* TEXT FORMATS*/
  body, body h1{
    font-family:'Bebas Neue', sans-serif;
  }

  body p{
    font-family:'Nunito', sans-serif;
    color: #ffefef;
    font-size: 19px;
  }

  .text-content{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .overview-section h2 {
    font-family: 'Agrandir-Bold', sans-serif;
    font-style: italic;
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .section-label{
    color: #ff4b4b;
    border: 1px solid;
    border-radius: 15px;
    padding: 2px 15px;
    font-size: 15px;   
    display: inline-block;  

    margin: 10px 0;
  }

  .hypo-title{
    color: #ff8c8c;
    font-family: 'Agrandir-Bold', sans-serif;
    font-size: 20px;
  }

  .prob-sol-text h2{
    font-size: 28;
    color: #ff8c8c;
  }

  /* BG IMAGE */   
  .home-section, .team-section{
    background: linear-gradient(180deg,rgba(133, 1, 1, 1) 0%, rgba(0, 0, 0, 1) 100%);
  }

  /* Navigation Bar */
  nav {
    position: fixed;
    width: 100%;
    padding: 20px 0 25px 0;
    z-index: 10;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 45px;
  }
  
  nav ul li a {
    font-family: 'Agrandir-Regular', sans-serif;
    text-decoration: none;
    color: #ffefef;
    font-weight: 500;
    font-size: 15px;
   }
  
  nav ul li a:hover {
    color: #850101;
  }
  
  nav ul li a:focus {
    color: #560000;
  }
  
  /* home section*/
  .home-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 100px 20px;
  }

  .home-content h1 {
    font-size: 100px;
  }

  .home-content p{
    font-weight: 100;
    font-size: 20px;
  }

  .life, .love, .lawbreaking {
    transition: color 0.3s;
    cursor: pointer;
  }

  .life:hover {
    color: #394921;
  }

  .love:hover {
    color: #3e3b8b;
  }

  .lawbreaking:hover {
    color: #ff1313;
  }

  /* overview-section */
  .overview-section{
    min-height: 100vh;
    text-align: justify;
    color: #272727;
  }

  .overview-quote{
    background-image: url(../elements/images/quote-pic.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    padding: 0 20px 0;
  }

  .overview-quote p{
    color: #ffffff;
    font-size: 35px;
  }

  .overview-container{
    background-color: #000000;
    padding: 100px 250px;

    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .what-now{
    background-image: url(../elements/images/whatnow-pic.png);
    min-height: 100vh;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .what-now h2{
    font-size: 55px;
    margin-bottom: 0;
  }

  .what-now p{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: white;
  }

  .research-questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rquestion-text-container{
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .rquestion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .question-number{
    color:#ff4b4b;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
  }

  .hypothesis-container{
    display: flex;
    gap: 70px;  
    padding: 20px 0;
  }

  .hypothesis-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  /* data-section */
  .data-section{
    min-height: 100vh;
  }

  /* methods-section */
  .methods-section{
    min-height: 100vh;
  }

  /* results-section */
  .results-section{
    min-height: 100vh;
  }

  /* team-section */
  .team-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
  }
  
  .team-content {
    text-align: center;
    width: 100%;
  }
  
  .team-caption h1 {
    font-size: 55px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .team-caption p {
    font-size: 1.3rem;
    margin-bottom: 40px;
  }
  
  .team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .team-member {
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 20px #272727;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .team-member:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  }

  .team-member img{
    height: 180px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .member-picture{
    height: 180px;
    width: 300px;
  }

  .member-caption h2{
    margin-bottom: 5px;
  }

  .member-caption p{
    text-align: justify;
    color: #272727;
  }

  .member-caption{
    margin: 10px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .member-plugs{
    display: flex;
    padding: 15px 15px 10px 15px;
  }

  .member-plugs img{
    height: 30px;
    width: 30px;
  }

  .member-plugs a{
    text-decoration: none;
  }

  svg, .ig-logo-path{
    fill: #a6a6a6;
  }

  .fb-logo:hover{
    fill: #1877f2;
  }

  .ig-logo:hover, .ig-logo-path:hover{
    fill: url(#igGradient);
  }

  .github-logo:hover{
    fill: #1B1F24;
  }

  .linkedin-logo:hover{
    fill: #0e76a8;
  }

  footer{
    height: 70px;
    background-color: rgb(30, 30, 30);
    font-size: 12px;
    color: white;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }



  