html{
  scroll-behavior: smooth;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* BG IMAGE */
  .overview-flex5, .overview-flex6, .team-section, .home-section, .overview-container{
    background-image: url('../elements/gggrain.svg');
  }

  /* Navigation Bar */
  nav {
    position: fixed;
    width: 100%;
    padding: 20px 0 25px 0;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4),rgba(20, 20, 20, 0.2), rgba(39, 39, 39, 0));
  }

  nav:hover{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(39, 39, 39, 0));
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
   }
  
  nav ul li a:hover {
    color: #504d9e
  }
  
  nav ul li a:active {
    color: #504d9e !important;
  }

  article{
    scroll-margin-top: 100px;
  }
  
  /* home section*/
  .home-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 100px 20px;
  }
  
  .content h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .life, .love, .lawbreaking {
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .life:hover {
    color: #74A12E;
  }

  .love:hover {
    color: #9f0509;
  }

  .lawbreaking:hover {
    color: #664715;
  }
  
  .content p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #7c78e4;
    margin-bottom: 40px;
  }
  
  button {
    background-color: #544fdc;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }
  
  button:hover {
    box-shadow: 0 0 15px #7c78e4;
  }

  /* overview-section */
  .overview-section{
    min-height: 100vh;
    text-align: justify;
    color: #272727;
  }

  .overview-section h2{
    color: #504d9e;
    margin-bottom: 20px;
    font-size: 40px;
  }

  .overview-section h3{
    color: #504d9e;
    margin-bottom: 12px;
    font-size: 30px;
  }

  .overview-quote{
    color: #504d9e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 30px;
    padding: 60px 20px;
  }

  .overview-flex1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 100px 20px;
  }

  .overview-part1{
    display: flex;
    gap: 50px;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .overview-caption{
    width: 500px;

    display: flex;
    flex-direction: column;
  }

  .overview-image {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 0 20px;
  }

  .overview-flex2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 40px 20px;
  }

  .overview-part2{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px 30px;
    width: 1050px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .overview-bgcaption{
    margin-top: 15px;
  }

  .overview-flex3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 100px 20px;
  }

  .overview-part3{
    display: flex;
    gap: 50px;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .overview-problem, .overview-solution{
    width: 500px;
    background-color: white;
    border-radius: 12px;
    padding: 40px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overview-flex4{
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rquestions-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .rquestion-caption{
    background-color: white;
    border-radius: 40px;
    padding: 0 40px 0 40px;
    justify-content: center;

    display: flex;
    text-align: center;
    align-items: center;
  }

  .overview-rquestions{
    background-color: white;
    border-radius: 40px;
    padding: 20px 40px;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

    display: flex;
    text-align: center;
    align-items: center;
  }

  .overview-rquestions:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
  }

  .overview-flex5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px 25px 20px;
  }

  .overview-part5{
    display: flex;
    gap: 50px;
    border-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .overview-nhypothesis, .overview-ahypothesis{
    width: 500px;
    background-color: white;
    border-radius: 12px;
    padding: 40px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overview-flex6{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 20px 100px 20px;
  }

  .overview-part6{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 40px 30px;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .overview-part2, .overview-problem,
  .overview-solution, .overview-nhypothesis,
  .overview-ahypothesis, .overview-part6{
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.15);
  }

  .overview-part2:hover, .overview-problem:hover,
  .overview-solution:hover, .overview-nhypothesis:hover,
  .overview-ahypothesis:hover, .overview-part6:hover{
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);
  }



  /* data-section */
  .data-section{
    min-height: 100vh;
  }

  /* methods-section */
  .methods-section{
    min-height: 100vh;
  }

  /* results-section */
  .results-section{
    min-height: 100vh;
  }

  /* team-section */
  .team-section {
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
  }
  
  .team-content {
    text-align: center;
    width: 100%;
  }
  
  .team-caption h1 {
    font-size: 55px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .team-caption p {
    font-size: 1.3rem;
    color: #7c78e4;
    margin-bottom: 40px;
  }
  
  .team-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .team-member {
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .team-member:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  }

  .team-member img{
    height: 180px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .member-caption h2{
    margin-bottom: 5px;
  }

  .member-caption p{
    text-align: justify;
  }

  .member-caption{
    margin: 10px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  footer{
    height: 70px;
    background-color: rgb(30, 30, 30);
    font-size: 12px;
    color: white;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }



  